<table>
  <tr>
    <td>
      <label for="vorname_eingabe">Vorname: </label>
    </td>
    <td>
      <input [ngModel]="formulardaten.vorname" type="text" id="vorname_eingabe"/>
    </td>
  </tr>
  <tr>
    <td>
      <label for="nachname_eingabe">Nachname: </label>
    </td>
    <td>
      <input [ngModel]="formulardaten.nachname" type="text" id="nachname_eingabe"/>
    </td>
  </tr>
  <tr>
    <td>
      <label for="geburtstag_eingabe">Geburtstag: </label>
    </td>
    <td>
      <input [ngModel]="formulardaten.geburtstag" type="text" id="geburtstag_eingabe"/>
    </td>
  </tr>
  <tr>
    <td>
      <label for="strasse_eingabe">Straße: </label>
    </td>
    <td>
      <input [ngModel]="formulardaten.strasse" type="text" id="strasse_eingabe"/>
    </td>
  </tr>
  <tr>
    <td>
      <label for="hausnummer_eingabe">Hausnummer: </label>
    </td>
    <td>
      <input [ngModel]="formulardaten.hausnummer" type="text" id="hausnummer_eingabe"/>
    </td>
  </tr>
</table>
