<div id="formularUeberschrift">
  <h2>{{getUntertitel()}}</h2>
</div>

<div class="controls">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="Unterhaltsanspruch_ja">{{getFragen().C_Frage}}<br>{{getFragen().C_Zusatz}}</label>
      </div>
    </div>
  </div>

  <ng-container
    *ngIf='formA.antragsteller.familienstand === "Eingetragene Partnerschaft" || formA.antragsteller.familienstand === "Verheiratet"'>
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <label for="UnterhaltsgebenderEhe">{{getFragen().C_FrageJaEhe}}</label>
          <input id="UnterhaltsgebenderEhe" type="text" class="form-control"
                 [(ngModel)]="formC.unterhaltsverpflichteter[0].name" placeholder="Pflicht">
        </div>
      </div>
    </div>
  </ng-container>

  <div class="row">
    <div class="col-sm-4">
      <div class="radio">
        <label class="radio-inline" for="Unterhaltsanspruch_ja"><input type="radio" id="Unterhaltsanspruch_ja"
                                                                       name="Unterhaltsanspruch"
                                                                       [(ngModel)]="formC.hatUnterhaltsanspruch"
                                                                       [value]="true" (click)="fuegeUnterhaltHinzu()">Ja</label>
        <label class="radio-inline" for="Unterhaltsanspruch_nein"><input type="radio" id="Unterhaltsanspruch_nein"
                                                                         name="Unterhaltsanspruch"
                                                                         [(ngModel)]="formC.hatUnterhaltsanspruch"
                                                                         [value]="false">Nein</label>
      </div>
    </div>
    <ng-container *ngIf="formC.hatUnterhaltsanspruch">
      <div class="col-sm-2">
        <button class="btn btn-group-md btn-primary" [disabled]="formC.unterhaltsverpflichteter.length > 6" (click)="fuegeUnterhaltHinzu()"><span
          class="glyphicon glyphicon-plus"></span></button>
        <button class="btn btn-group-md btn-primary" [disabled]="formC.unterhaltsverpflichteter.length <= 1" (click)="entferneUnterhalt()"><span
          class="glyphicon glyphicon-minus"></span></button>
      </div>
    </ng-container>

  </div>
  <ng-container *ngIf="formC.hatUnterhaltsanspruch">
    <div class="row" *ngFor="let person of formC.unterhaltsverpflichteter; let i = index">
      <div class="col-sm-5" *ngIf="i != 0">
        <label>{{getFragen().C_FrageJa}}</label>
        <input type="text" class="form-control" [(ngModel)]="person.name" placeholder="...">
      </div>
    </div>


  </ng-container>

</div>
