<div id="formularUeberschrift">
  <h2>{{getUntertitel()}}</h2>
</div>

<div class="controls">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="Unterhaltsanspruch_ja">{{getFragen().C_Frage}}</label>
        <label for="Unterhaltsanspruch_ja">{{getFragen().C_Zusatz}}</label>
      </div>
    </div>
  </div>

<ng-container *ngIf='formA.familienstand == "Verheiratet"'>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label for="UnterhaltsgebenderEhe">{{getFragen().C_FrageJaEhe}}</label>
        <input id="UnterhaltsgebenderEhe" type="text" class="form-control" [(ngModel)]="formC.UnterhaltsgebenderEhe" placeholder="Pflicht">
      </div>
    </div>
  </div>
</ng-container>

<div class="row">
  <div class="col-sm-2">
    <div class="radio">
      <label class="radio-inline" for="Unterhaltsanspruch_ja"><input type="radio" id="Unterhaltsanspruch_ja" name="Unterhaltsanspruch" [(ngModel)]="formC.hatUnterhaltsanspruch" [value]="true">Ja</label>
      <label class="radio-inline" for="Unterhaltsanspruch_nein"><input type="radio" id="Unterhaltsanspruch_nein" name="Unterhaltsanspruch" [(ngModel)]="formC.hatUnterhaltsanspruch" [value]="false">Nein</label>
    </div>
  </div>
</div>

  <ng-container *ngIf="formC.hatUnterhaltsanspruch">
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
        <label for="Unterhaltsgebender">{{getFragen().C_FrageJa}}</label>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-5">
          <input id="Unterhaltsgebender" type="text" class="form-control" [(ngModel)]="formC.Unterhaltsgebender" placeholder="Optional">
        </div>
          <div class="col-sm-1">
          <button class="btn btn-group-md btn-primary" ><span class="glyphicon glyphicon-plus"></span></button>
          </div>
      </div>

<!--
    (click)="createNewInputField()"
    -->

  </ng-container>




</div>
