.navBackground {
  /* TODO: Rahmen um die Navigation einbauen, mit Div oder anders */
  position: relative;
  width: 50px;
  height: 500px;
  background: #2694ff;
}

.sidenav {
  position: fixed;
  left: 0;
  top: 50px;
}

.sidenav-button {
   background: #2694ff;
   color: white;
 }

.sidenav-button-checked {
  background: white;
  color: #2694ff;
}

.back-forward-buttons {
  bottom: 30px;
  padding-left: 30px;
}
