.sidenav {
  position: fixed;
  left: 0;
  top: 50px;
}

.sidenav-button {
   background: #51bfff;
   color: white;
 }

.sidenav-button-checked {
  background: white;
  color: #51bfff;
}

.back-forward-buttons {
  bottom: 30px;
  padding-left: 30px;
}
