<button class="btn btn-primary bot-button" (click)="toggleBot()" [class.bot-button-pushed]="botIsActive"
        [disabled]="abschnittString.length == 0">
<span class="glyphicon glyphicon-comment"></span>
</button>

<div class="bot-side-menu" [class.bot-side-menu-pushed]="botIsActive">
  <h2>Der PKH-Helfer</h2>
  <hr class="divider">

  <!-- Watson response -->
  <div class="chatbot-response-container" *ngIf="watsonResponse.length > 0">
    <br>
    <ul *ngFor="let response of watsonResponse">
      <li class="label label-default chatbot-response">{{response}}</li>
    </ul>
    <br><br>
  </div>

  <hr class="divider">
  <br>

  <div class="col">
    <label class="label label-default chatbot-input">Kann ich Ihnen beim Abschnitt <b>{{abschnittString}}</b>
      helfen?</label>

    <br><br><br>

    <!-- list of user inputs according to section of the form -->
    <ul class="list-group user-fragen" *ngFor="let frage of activeFragen">
      <li class="list-group-item einzel-frage" (click)="askWatson(frage)">{{frage}}</li>
    </ul>
  </div>
</div>

