.bot-button {
  position: fixed;
  background: #51bfff;
  border: transparent;
  color: white;
  z-index: 1;
  right: 0;
  top: 50px;
  width: 50px;
  height: 50px;
  transition: 0.7s;
  text-align: center;
}

.bot-button-pushed {
  position: fixed;
  color: white;
  right: 500px;
  top: 50px;
  text-align: center;
}

.bot-side-menu {
  position: fixed;
  background: #51bfff;
  color: white;
  right: -500px;
  padding: 5px;
  padding-top: 25px;
  margin: 0;
  top: 0;
  height: 100%;
  width: 500px;
  transition: 0.7s;
  text-align: center;
}

.bot-side-menu-pushed {
  right: 0;
}

.chatbot-input{
  padding: 25px;
  right: 100px;
  background: white;
  color: black;
  top: 200px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

.user-button{
  margin-top: 50px;
}

.chatbot-response{
  padding: 25px;
  right: 300px;
  background: white;
  color: black;
  top: 300px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

