<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div id="ueberschrift" style="text-align:center">
    <h1>
      Willkommen zum {{ title }}!
    </h1>
  </div>

 <app-view-switch></app-view-switch>

  <div id="formularDiv" class="form-group">
    <ng-template #appHost></ng-template>
  </div>
  <button class="btn btn-primary custom-control-inline" (click)="zurueck()">Zurück</button>
  <button type="button" class="btn btn-primary custom-control-inline" (click)="weiter()">Weiter</button>
  <app-chatbot></app-chatbot>
</div>
