<div id="formularUeberschrift">
  <h2>{{getUntertitel()}}</h2>
</div>
<!-- Abschnitt Frage nach sontigen Zahlungsverpflichtungen -->
<label class="form-check-inline">Haben Sie sonstige Zahlungsverpflichtungen? (z.B. Ratenkredite der Bank,
  Dahrlehnsverträge, Zahlungsnachweise)</label>
<div class="row">
  <div class="col-sm-6">
    <div class="radio">
      <label class="radio-inline" for="zahlungsverpflichtung_ja"><input type="radio" id="zahlungsverpflichtung_ja"
                                                                        name="sonZahlungsverpflichtung"
                                                                        [(ngModel)]="formI.sonstigeVerpflichtungen"
                                                                        [value]="true">Ja</label>
      <label class="radio-inline" for="zahlungsverpflichtung_nein"><input type="radio" id="zahlungsverpflichtung_nein"
                                                                          name="sonZahlungsverpflichtung"
                                                                          [(ngModel)]="formI.sonstigeVerpflichtungen"
                                                                          [value]="false">Nein</label>
    </div>
  </div>
</div>
<!-- ENDE Abschnitt Frage nach sontigen Zahlungsverpflichtungen -->

<!-- Abschnitt Daten für sonstige Verpflichtungen 2-->
<ng-container *ngIf="formI.sonstigeVerpflichtungen">
  <!-- Abschnitt für sonstige Verpflichtungen  -->
  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        <label for="sonsVerpflichtung">{{getFragen().J_Belastung}} *</label>
        <input id="sonsVerpflichtung" type="text" class="form-control" placeholder="Pflicht *"
               [(ngModel)]="formI.sonstigeVerpflichtung" required="required">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="sonVerpflichtungRestBetrag">{{getFragen().J_Belastung}} *</label>
        <input id="sonVerpflichtungRestBetrag" type="text" class="form-control" placeholder="Pflicht *" [(ngModel)]="formI.sonstigeVerpflichtung" required="required">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="sonVerpflichtungGesBetrag">{{getFragen().J_Belastung}} *</label>
        <input id="sonVerpflichtungGesBetrag" type="text" class="form-control" placeholder="Pflicht *" [(ngModel)]="formI.sonstigeVerpflichtung" required="required">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="sonVerpflichtungEigBetrag">{{getFragen().J_Belastung}} *</label>
        <input id="sonVerpflichtungEigBetrag" type="text" class="form-control" placeholder="Pflicht *" [(ngModel)]="formI.sonstigeVerpflichtung" required="required">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        <label for="sonsVerpflichtung1">{{getFragen().J_Belastung}} *</label>
        <input id="sonsVerpflichtung1" type="text" class="form-control" [(ngModel)]="formI.sonstigeVerpflichtung" required="required">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="sonVerpflichtungRestBetrag1">{{getFragen().J_Belastung}} *</label>
        <input id="sonVerpflichtungRestBetrag1" type="text" class="form-control" [(ngModel)]="formI.sonstigeVerpflichtung" required="required">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="sonVerpflichtungGesBetrag1">{{getFragen().J_Belastung}} *</label>
        <input id="sonVerpflichtungGesBetrag1" type="text" class="form-control" [(ngModel)]="formI.sonstigeVerpflichtung" required="required">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="sonVerpflichtungEigBetrag1">{{getFragen().J_Belastung}} *</label>
        <input id="sonVerpflichtungEigBetrag1" type="text" class="form-control" [(ngModel)]="formI.sonstigeVerpflichtung" required="required">
      </div>
    </div>
  </div
  <!-- ENDE Abschnitt Frage nach sonstige Verpflichtungen  2-->
