<div id="formularUeberschrift">
  <h2>{{getUntertitel()}}</h2>
</div>

<!-- Abschnitt Frage nach sontigen Zahlungsverpflichtungen -->
<label class="form-check-inline">Haben Sie
  <div class="speech-bubble">sonstige Zahlungsverpflichtungen?
  <span class="speech-bubble-text">{{getFragen().I_zahlunsVerpflichtungBeschreibung}}</span>
  </div>
    (z.B. Ratenkredite der Bank,
  Dahrlehnsverträge, Zahlungsnachweise)</label>
<div class="row">
  <div class="col-sm-2">
    <div class="radio">
      <label class="radio-inline" for="zahlungsverpflichtung_ja"><input type="radio" id="zahlungsverpflichtung_ja"
                                                                        name="sonZahlungsverpflichtung"
                                                                        [(ngModel)]="formI.hatZahlungsverpflichtungen"
                                                                        [value]="true">Ja</label>
      <label class="radio-inline" for="zahlungsverpflichtung_nein"><input type="radio" id="zahlungsverpflichtung_nein"
                                                                          name="sonZahlungsverpflichtung"
                                                                          [(ngModel)]="formI.hatZahlungsverpflichtungen"
                                                                          [value]="false">Nein</label>
    </div>
  </div>
  <ng-container *ngIf="formI.hatZahlungsverpflichtungen">
    <div class="col-sm-2">
      <button class="btn btn-group-md btn-primary" [disabled]="formI.zahlungsverpflichtungen.length >= 8" (click)="fuegeHinzuVerpflichtung()"><span
        class="glyphicon glyphicon-plus"></span></button>
      <button class="btn btn-group-md btn-primary" [disabled]="formI.zahlungsverpflichtungen.length <= 1" (click)="entferneVerpflichtung()"><span
        class="glyphicon glyphicon-minus"></span></button>
    </div>
  </ng-container>
</div>
<!-- ENDE Abschnitt Frage nach sontigen Zahlungsverpflichtungen -->

<!-- Abschnitt Daten für sonstige Verpflichtungen 2-->
<ng-container *ngIf="formI.hatZahlungsverpflichtungen">
  <!-- Abschnitt für sonstige Verpflichtungen  -->
  <div class="row" *ngFor="let zahlungsverpflichtung of formI.zahlungsverpflichtungen; let i = index">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="sonsVerpflichtung_{{i}}">{{getFragen().I_bezeichnung}} *</label>
        <input id="sonsVerpflichtung_{{i}}" type="text" class="form-control" placeholder="Pflicht"
               [(ngModel)]="zahlungsverpflichtung.beschreibung" required="required">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="sonVerpflichtungRestBetrag_{{i}}">{{getFragen().I_restschuld}} *</label>
        <input id="sonVerpflichtungRestBetrag_{{i}}" type="text" class="form-control" placeholder="Pflicht"
               [(ngModel)]="zahlungsverpflichtung.restschuld" required="required">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="sonVerpflichtungGesBelastung_{{i}}">{{getFragen().I_gesamtbelastung}} *</label>
        <input id="sonVerpflichtungGesBelastung_{{i}}" type="text" class="form-control" placeholder="Pflicht"
               [(ngModel)]="zahlungsverpflichtung.gesamtbelastungMtl" required="required">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="sonVerpflichtungEigZahlung_{{i}}">{{getFragen().I_alleineZahlen}} *</label>
        <input id="sonVerpflichtungEigZahlung_{{i}}" type="text" class="form-control" placeholder="Pflicht"
               [(ngModel)]="zahlungsverpflichtung.alleinigeZahlung" required="required">
      </div>
    </div>
  </div>
  <!-- ENDE Abschnitt Frage nach sonstige Verpflichtungen  2-->
