<div id="formularUeberschrift">
  <h2>{{getUntertitel()}}</h2>
</div>
<div class="radio">
  <label class="radio-inline" for="antragsteller"><input type="radio" id="antragsteller" name="beantragender" [(ngModel)]="allgemeineDaten.istAntragsteller" [value]="true">Antragsteller</label>
</div>

<div class="radio">
  <label class="radio-inline" for="berater"><input type="radio" id="berater" name="beantragender" [(ngModel)]="allgemeineDaten.istAntragsteller" [value]="false">Sozialberater</label>
</div>

<div class="radio">
  <label class="radio-inline" for="jurist"><input type="radio" id="jurist" name="beantragender" [(ngModel)]="allgemeineDaten.istAntragsteller" [value]="false">Jurist</label>
</div>

<div class="form-text">
  <br><br><br>Für die vollständige Befüllung dieses Formulars sind voraussichtlich folgende Dokumente notwendig:<br>
    - Lohnbescheinigung, Steuerbescheid, Bewilligungsbescheid mit Berechnungsbogen<br>
    - Pflichtbeiträge, Lebensversicherung<br>
    - Mietvertrag, Heizkostenabrechnung, Kontoauszüge<br>
    - aktuellen Sozialhilfe-Bescheid einschließlich des Berechnungsbogens<br>
</div>
<br>
