<table>
  <tr>
    <td>
      <label for="name_input">Vorname: </label>
    </td>
    <td>
      <input ngModel="formData.name" type="text" id="name_input"/>
    </td>
  </tr>
  <tr>
    <td>
      <label for="surname_input">Nachname: </label>
    </td>
    <td>
      <input ngModel="formData.surname" type="text" id="surname_input"/>
    </td>
  </tr>
  <tr>
    <td>
      <label for="birthday_input">Geburtstag: </label>
    </td>
    <td>
      <input ngModel="formData.birthday" type="text" id="birthday_input"/>
    </td>
  </tr>
  <tr>
    <td>
      <label for="street_input">Straße: </label>
    </td>
    <td>
      <input ngModel="formData.street" type="text" id="street_input"/>
    </td>
  </tr>
  <tr>
    <td>
      <label for="houseNumber_input">Hausnummer: </label>
    </td>
    <td>
      <input ngModel="formData.houseNumber" type="text" id="houseNumber_input"/>
    </td>
  </tr>
</table>
