<div id="formularUeberschrift">
  <h3>{{getUntertitel()}}</h3>
</div>

<!-- Abschnitt Frage nach besonderen Belastungen -->
<label class="form-check-inline">Haben Sie besondere Belastungen? (z.B. Mehrausgaben für
  <div class="speech-bubble">körperbehinderten
  <span class="speech-bubble-text">{{getFragen().J_behinderungBeschreibung}}</span>
  </div>
    Angehörigen und Angabe des GdB/
  Mehrbedarfs gemäß
  <div class="speech-bubble">§21 SGB II
  <span class="speech-bubble-text">{{getFragen().J_sgbIIBeschreibung}}</span>
  </div>
  und
  <div class="speech-bubble">§30 SGB XII
  <span class="speech-bubble-text">{{getFragen().J_sgbXIIBeschreibung}}</span>
  </div>
    )</label>
<p>Mehrbedarf auch beiwerdenden Müttern nach der 12. Schwangerschaftswoche und bei Personen die mit einem oder
  mehreren minderkährigen Kindern zusamenleben und allein für deren Pflege und Erziehung sorgen</p>
<div class="row">
  <div class="col-sm-2">
    <div class="radio">
      <label class="radio-inline" for="belastung_ja"><input type="radio" id="belastung_ja" name="besBelastung"
                                                            [(ngModel)]="formJ.hatBesondereBelastungen"
                                                            [value]="true">Ja</label>
      <label class="radio-inline" for="belastung_nein"><input type="radio" id="belastung_nein" name="besBelastung"
                                                              [(ngModel)]="formJ.hatBesondereBelastungen"
                                                              [value]="false">Nein</label>
    </div>
  </div>
  <ng-container *ngIf="formJ.hatBesondereBelastungen">
    <div class="col-sm-3">
      <button class="btn btn-group-md btn-primary" [disabled]="formJ.besondereBelastungen.length >= 8" (click)="fuegeHinzuBelastung()"><span
        class="glyphicon glyphicon-plus"></span></button>
      <button class="btn btn-group-md btn-primary" [disabled]="formJ.besondereBelastungen.length <= 1" (click)="entferneBelastung()"><span
        class="glyphicon glyphicon-minus"></span></button>
    </div>
  </ng-container>
</div>
<!-- ENDE Abschnitt Frage nach besonderen Belastungen -->

<!-- Abschnitt Daten für besondere Belastungen 2-->
<ng-container *ngIf="formJ.hatBesondereBelastungen">
  <!-- Abschnitt für besondere Belastungen -->
  <div class="row" *ngFor="let belastung of formJ.besondereBelastungen; let i = index">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="besBelastung_{{i}}">{{getFragen().J_belastungBezeichung}} *</label>
        <input id="besBelastung_{{i}}" type="text" class="form-control" placeholder="Pflicht"
               [(ngModel)]="belastung.beschreibung" required="required">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="besBelastungBetrag_{{i}}">{{getFragen().J_ichAlleineZahle}} *</label>
        <input id="besBelastungBetrag_{{i}}" type="text" class="form-control" placeholder="Pflicht"
               [(ngModel)]="belastung.alleinigeZahlung" required="required">
      </div>
    </div>
  </div>
</ng-container>
<!-- ENDE Abschnitt Frage nach besonderen Belastungen 2-->
