<div id="formularUeberschrift">
  <h2>{{getUntertitel()}}</h2>
</div>

<!-- Abschnitt Frage nach besonderen Belastungen -->
    <label class="form-check-inline">Haben Sie besondere Belastungen? (z.B. Mehrausgaben für körperbehinderten Angehörigen und Angabe des GdB/
      Mehrbedarfs gemäß §21 SGB II und §30 SGB XII)</label>
    <div class="row">
      <div class="col-sm-6">
        <div class="radio">
          <label class="radio-inline" for="belastung_ja"><input type="radio" id="belastung_ja" name="besBelastung" [(ngModel)]="formJ.besondereBelastungen" [value]="true">Ja</label>
          <label class="radio-inline" for="belastung_nein"><input type="radio" id="belastung_nein" name="besBelastung" [(ngModel)]="formJ.besondereBelastungen" [value]="false">Nein</label>
        </div>
      </div>
    </div>
    <!-- ENDE Abschnitt Frage nach besonderen Belastungen -->

    <!-- Abschnitt Daten für besondere Belastungen 2-->
    <ng-container *ngIf="formJ.besondereBelastungen">
      <!-- Abschnitt für besondere Belastungen -->
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="besBelastung">{{getFragen().J_belastungBezeichung}}</label>
            <input id="besBelastung" type="text" class="form-control" placeholder="Pflicht" [(ngModel)]="formJ.besondereBelastung" required="required">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="besBelastungBetrag">{{getFragen().J_IchAlleineZahle}} </label>
            <input id="besBelastungBetrag" type="text" class="form-control" placeholder="Pflicht" [(ngModel)]="formJ.besondereBelastung" required="required">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="besBelastung1">{{getFragen().J_BelastungBezeichung1}}</label>
            <input id="besBelastung1" type="text" placeholder="weitere" class="form-control" [(ngModel)]="formJ.besondereBelastung" required="required">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="besBelastungBetrag1">{{getFragen().J_IchAlleineZahle1}} </label>
            <input id="besBelastungBetrag1" type="text" placeholder="weitere" class="form-control" [(ngModel)]="formJ.besondereBelastung" required="required">
          </div>
        </div>
      </div>
        <!-- ENDE Abschnitt Frage nach besonderen Belastungen 2-->
