#ablehnung {
  color: RED;
  font-size: 20px;
}

#keinAntrag {
  color: RED;
  font-size: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted gray;
}

.speech-bubble-text{
  width: 220px;
}
