.chatbot-input{
  padding: 25px;
  right: 100px;
  background: white;
  color: black;
  top: 200px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

.user-button{
  margin-top: 50px;
}
