<div id="formularUeberschrift">
  <h3>{{untertitel.H}}</h3>
</div>

<!-- Abschnitt Frage nach Wohnung 1 -->
<div class="row">
  <div class="col-sm-2">
    <div class="form-group">
      <label for="groesse">{{fragen.H.groesseWohnung.WHG_KRZ}} </label>
      <input id="groesse" type="text" class="form-control" placeholder="Pflicht" [(ngModel)]="formH.wohnraumgroesse"
             required="required" data-error="Die Wohnungsgröße ist notwendig.">
    </div>
  </div>
  <!-- ENDE Abschnitt Frage nach Wohnung 1 -->

  <!-- Abschnitt Frage nach Wohnung 2 -->
  <div class="col-sm-2">
    <div class="form-group">
      <label for="anzahlZimmer">{{fragen.H.anzahlZimmer}} </label>
      <input id="anzahlZimmer" type="text" class="form-control" placeholder="Pflicht" [(ngModel)]="formH.anzahlZimmer"
             required="required" data-error="Die Zimmerzahl ist notwendig.">
    </div>
  </div>
  <!-- ENDE Abschnitt Frage nach Wohnung 2 -->

  <!-- Abschnitt Frage nach Wohnung 3 -->
  <div class="col-sm-2">
    <div class="form-group">
      <label for="anzahlPersonenWohnraum">{{fragen.H.anzahlPersonen.PER_KRZ}} </label>
      <input id="anzahlPersonenWohnraum" type="text" class="form-control" placeholder="Pflicht"
             [(ngModel)]="formH.personenImWohnraum" required="required"
             data-error="Die Anzahl der Personen, die die Wohnung bewohnen ist notwendig.">
    </div>
  </div>
</div>
<!-- ENDE Abschnitt Frage nach Wohnung 3 -->

<!-- Abschnitt Frage nach Wohnung 4 -->
<label class="form-check-inline"> 4. Nutzen Sie den Raum als Mieter oder in einem
  <div class="speech-bubble">ähnlichen Nutzungsverhältnis?
    <span class="speech-bubble-text">{{fragen.H_nutzungsVerhaeltnisseBeschreibung}}</span>
  </div>
</label>
<div class="row">
  <div class="col-sm-6">
    <div class="radio">
      <label class="radio-inline" for="mieter_ja"><input type="radio" id="mieter_ja" name="mieter"
                                                         [(ngModel)]="formH.istMieter" [value]="true">Ja</label>
      <label class="radio-inline" for="mieter_nein"><input type="radio" id="mieter_nein" name="mieter"
                                                           [(ngModel)]="formH.istMieter" [value]="false">Nein</label>
    </div>
  </div>
</div>
<!-- ENDE Abschnitt Frage nach Wohnung 4 -->
<!-- Abschnitt Daten für Wohnung 4-->
<ng-container *ngIf="formH.istMieter">
  <!-- Abschnitt für Wohnung 4 -->
  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        <label for="MieteOhneNeben">{{fragen.H_miete}} *</label>
        <input id="MieteOhneNeben" type="text" class="form-control" placeholder="Pflicht"
               [(ngModel)]="formH.mietDaten.mieteOderZinsen" required="required">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="Heizkosten">{{fragen.H_heizkosten}} *</label>
        <input id="Heizkosten" type="text" class="form-control" placeholder="Pflicht"
               [(ngModel)]="formH.mietDaten.heizungskosten"
               required="required">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="andNebenkosten">
          <div class="speech-bubble"> {{fragen.H_sonstNebenkosten}}
            <span class="speech-bubble-text">{{fragen.H_mietNebenkostenBeschreibung}}</span>
      </div>
          {{fragen.H_sonstNebenkostenZusatz}} *</label>
      <input id="andNebenkosten" type="text" class="form-control" placeholder="Pflicht"
             [(ngModel)]="formH.mietDaten.uebrigeNebenkosten" required="required">
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <label for="WohnungGes">{{fragen.H_gesamtbetrag}} *</label>
      <input id="WohnungGes" type="text" class="form-control" placeholder="Pflicht"
             [(ngModel)]="formH.mietDaten.gesamtbetrag"
             required="required">
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <label for="WohnungAllein">{{fragen.H_kostenAlleine}} *</label>
      <input id="WohnungAllein" type="text" class="form-control" placeholder="Pflicht"
             [(ngModel)]="formH.mietDaten.alleinigeZahlung" required="required">
    </div>
  </div>
  </div>
</ng-container>
<!-- ENDE Abschnitt Frage nach Wohnung 4-->

<!-- Abschnitt Frage nach Wohnung 5 -->
<label class="form-check-inline"> 5. Nutzen Sie den Raum als Eigentümer, Miteigentümer oder
  <div class="speech-bubble">Erbbauberechtigter?
    <span class="speech-bubble-text">{{fragen.H_erbbauBeschreibung}}</span>
  </div>
</label>
<div class="row">
  <div class="col-sm-6">
    <div class="radio">
      <label class="radio-inline" for="eigentuemer_ja"><input type="radio" id="eigentuemer_ja" name="eigentum"
                                                              [(ngModel)]="formH.istEigentuemer"
                                                              [value]="true">Ja</label>
      <label class="radio-inline" for="eigentuemer_nein"><input type="radio" id="eigentuemer_nein" name="eigentum"
                                                                [(ngModel)]="formH.istEigentuemer"
                                                                [value]="false">Nein</label>
    </div>
  </div>
</div>
<!-- ENDE Abschnitt Frage nach Wohnung 5 -->
<!-- Abschnitt Daten für Wohnung 5-->
<ng-container *ngIf="formH.istEigentuemer">
  <!-- Abschnitt für Wohnung 5 -->
  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        <label for="ZinsenUndTilgung">{{fragen.H_zinsenUndTilgung}} *</label>
        <input id="ZinsenUndTilgung" type="text" class="form-control" placeholder="Pflicht"
               [(ngModel)]="formH.eigentumsDaten.mieteOderZinsen" required="required">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="Heizungskosten">{{fragen.H_heizungskosten}} *</label>
        <input id="Heizungskosten" type="text" class="form-control" placeholder="Pflicht"
               [(ngModel)]="formH.eigentumsDaten.heizungskosten" required="required">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="uebNebenkosten">{{fragen.H_uebrigeNebenkosten}} *</label>
        <input id="uebNebenkosten" type="text" class="form-control" placeholder="Pflicht"
               [(ngModel)]="formH.eigentumsDaten.uebrigeNebenkosten" required="required">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="gesBetrag">{{fragen.H_gesamtBetrag}} *</label>
        <input id="gesBetrag" type="text" class="form-control" placeholder="Pflicht"
               [(ngModel)]="formH.eigentumsDaten.gesamtbetrag"
               required="required">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="ZahleAllein">{{fragen.H_zahleAlleine}} *</label>
        <input id="ZahleAllein" type="text" class="form-control" placeholder="Pflicht"
               [(ngModel)]="formH.eigentumsDaten.alleinigeZahlung" required="required">
      </div>
    </div>
  </div>
</ng-container>
<!-- ENDE Abschnitt Frage nach Wohnung 5-->

<!-- Abschnitt Frage nach Wohnung 6 -->
<label class="form-check-inline"> 6. Haben Sie Belastungen aus Fremdmitteln als (Mit-)Eigentümer? (z.B.
  Darlehensverträge, Kredite)</label>
<div class="row">
  <div class="col-sm-2">
    <div class="radio">
      <label class="radio-inline" for="dahrlen_ja"><input type="radio" id="dahrlen_ja" name="belastung"
                                                          [(ngModel)]="formH.eigentumsDaten.hatBelastungAusFremdmitteln"
                                                          [value]="true">Ja</label>
      <label class="radio-inline" for="dahrlen_nein"><input type="radio" id="dahrlen_nein" name="belastung"
                                                            [(ngModel)]="formH.eigentumsDaten.hatBelastungAusFremdmitteln"
                                                            [value]="false">Nein</label>
    </div>
  </div>

  <ng-container *ngIf="formH.eigentumsDaten.hatBelastungAusFremdmitteln">
    <div class="col-sm-2">
      <button class="btn btn-group-md btn-primary" [disabled]="formH.eigentumsDaten.belastungAusFremdmitteln.length > 8"
              (click)="fuegeBelastungHinzu()"><span
        class="glyphicon glyphicon-plus"></span></button>
      <button class="btn btn-group-md btn-primary"
              [disabled]="formH.eigentumsDaten.belastungAusFremdmitteln.length <= 1" (click)="entferneBelastung()"><span
        class="glyphicon glyphicon-minus"></span></button>
    </div>
  </ng-container>
</div>
<!-- ENDE Abschnitt Frage nach Wohnung 6 -->
<!-- Abschnitt Daten für Wohnung 6-->
<ng-container *ngIf="formH.eigentumsDaten.hatBelastungAusFremdmitteln">
  <!-- Abschnitt für Wohnung 5 -->
  <div *ngFor="let belastung of formH.eigentumsDaten.belastungAusFremdmitteln; let i = index">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="darlehensnehmer_{{i}}">{{fragen.H_bezeichnung}} *</label>
          <input id="darlehensnehmer_{{i}}" type="text" class="form-control" placeholder="Pflicht"
                 [(ngModel)]="belastung.darlehensNehmer" required="required">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="kreditinstitut_{{i}}">{{fragen.H_bezeichnung}} *</label>
          <input id="kreditinstitut_{{i}}" type="text" class="form-control" placeholder="Pflicht"
                 [(ngModel)]="belastung.kreditinstitut" required="required">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-group">
          <label for="endeAm_{{i}}"> Datum des Vertrages *</label>
          <input id="endeAm_{{i}}" type="date" class="form-control" placeholder="Pflicht"
                 [(ngModel)]="belastung.zahlungsende" required="required">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="datum_{{i}}"> Zahlungen laufen bis *</label>
          <input id="datum_{{i}}" type="date" class="form-control" placeholder="Pflicht"
                 [(ngModel)]="belastung.datumDesVertrages" required="required">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="Heizungskosten_{{i}}">{{fragen.H_dahrlenRestschuld}} *</label>
          <input id="Heizungskosten_{{i}}" type="text" class="form-control" placeholder="Pflicht"
                 [(ngModel)]="belastung.restschuld" required="required">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <label for="zahlungsende_{{i}}">{{fragen.H_dahrlenZinsenUndTilgung}} *</label>
          <input id="zahlungsende_{{i}}" type="text" class="form-control" placeholder="Pflicht"
                 [(ngModel)]="belastung.tilgungMonatlich" required="required">
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- ENDE Abschnitt Frage nach Wohnung 6-->
